@import "tailwindcss";

:root {
  --color-navbar-primary: var(--color-primary-500);
}

@theme {
  --font-serif: var(--font-cormorant-garamond), serif;

  --color-primary-50: #f3f5e9;
  --color-primary-100: #e5e9d2;
  --color-primary-200: #cad2a7;
  --color-primary-300: #adb87f;
  --color-primary-400: #93a064;
  --color-primary-500: #7d844f;
  --color-primary-600: #6b7144;
  --color-primary-700: #585d38;
  --color-primary-800: #464a2c;
  --color-primary-900: #393c24;
  --color-primary-950: #202214;

  --color-secondary-50: #fbf6f0;
  --color-secondary-100: #f5e9dd;
  --color-secondary-200: #e7cfb9;
  --color-secondary-300: #d9b89c;
  --color-secondary-400: #c99f7f;
  --color-secondary-500: #b18868;
  --color-secondary-600: #927056;
  --color-secondary-700: #755a45;
  --color-secondary-800: #584334;
  --color-secondary-900: #3b2d23;
  --color-secondary-950: #211914;

  --color-neutral-50: #fdfdfd;
  --color-neutral-100: #efede1;
  --color-neutral-200: #dddbd5;
  --color-neutral-300: #c5c2bc;
  --color-neutral-400: #afaba4;
  --color-neutral-500: #9a938d;
  --color-neutral-600: #817b76;
  --color-neutral-700: #696460;
  --color-neutral-800: #504d4a;
  --color-neutral-900: #383532;
  --color-neutral-950: #201e1d;
}
